<div class="col-md-1">
    <div>
        <h5 class="nav-link"></h5>
    </div>
</div>
<div class="col-md-3 bd-sidebar mt-3 push-right">
    <nav class=" collapse nav flex-column justify-content-center ">
        <div>
            <h5 class="head text-center">Insert Into:</h5>
        </div>
        <a class="nav-link link active  " href="/insert/actor">Actor</a>
        <a class="nav-link link active " href="/insert/director">Director</a>
        <a class="nav-link link active " href="/insert/movie">Movies</a>
        <a class="nav-link link active " href="/insert/cast">Movie_Cast</a>
        <a class="nav-link link active " href="/insert/ratings">Rating</a>
    </nav>
</div>