/*-------------------- style for navbar---------------- */

.link:hover {
  text-align: center;
  border-radius: 5px;
  background-color: rgb(128, 128, 128);
  color: white;
}

/* --------------style for body------------- */
body {
  background: url(../image/test.jpg) no-repeat center center fixed;
  background-size: cover;
}
.jumbotron {
  opacity: 0;
}
table {
  background-color: rgb(179, 179, 179);
  margin: auto;

  opacity: 1;
}
#box {
  background-color: rgb(163, 163, 163);
  border-radius: 10px;
}
.container h1 {
  font-family: "Black Ops One", cursive;
  font-family: "Fredericka the Great", cursive;
  font-weight: 500;
  color: rgb(16, 83, 143);
}
.container h2 {
  text-decoration: underline;
}
